$week: (mon: 0, tue: 1, wed: 2, thu: 3, fri: 4, sat: 5, sun: 6);
$month: 28, 29, 30, 31;
$block-dimension: 100px;
$block-gap: 1px;
$days-in-week: 7;

body {
  margin: 0;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  width: ($block-dimension + $block-gap) * $days-in-week;
  margin: 50px;

  div {
    height: $block-dimension;
    width: $block-dimension;
    background-color: #eee;
    box-sizing: border-box;
    border: 1px solid black;
    margin: $block-gap $block-gap 0 0;
    display: none;
    cursor: pointer;

    &:hover {
      background-color: pink;
      animation-name: onhover;
      animation-duration: 500ms;
      animation-timing-function: linear;
    }
  }
}

@keyframes onhover {
  100% {
    position: relative;
    bottom: 20px;
  }
}

@for $i from 1 through 31 {
  .calendar div:nth-child(#{$i})::before {
    content: "#{$i}";
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: $block-dimension;
  }
}

@each $ends-of-month in $month {
  @for $day from 1 through $ends-of-month {
    .calendar-#{$ends-of-month} div:nth-child(#{$day}) {
      display: block;
    }
  }
}

@each $day, $num in $week {
  .calendar-#{$day} div:first-child {
    margin-left: #{(100 + 1) * $num}px;
  }
}
